{% extends '../layout.html.twig' %}

<h1 class="page-title">Chyba 404</h1>
<section>

    <p>Omlouváme se, ale stránka, kterou hledáte, nebyla nalezena.</p>
    <p>Možná byla odstraněna nebo neexistuje. Zkuste se vrátit na <a class="back-link" href="?page=title_page">hlavní stránku</a>.</p>
</section>

{% block back_link %}
{% endblock %}