
main{
    display:grid;
    gap: 1.5rem;
    grid-template-columns: 4fr 2fr;
    padding: 1.25rem;
    /*padding: 20px;*/
}

#info-application{
    padding-right: 1.875rem;
    /*padding-right: 30px;*/
    /*border-right: 2px solid black;*/
    border-right: 0.125rem solid black;
}

#info-application h1{
    text-align: center;
}

#info-application article{
    /*padding: 5px;*/
    padding: 0.3125rem;
    /*border-left: 10px solid #bababa;*/
    border-left: 0.625rem solid #bababa;
}


#newbie-list{
    /*padding-left: 15px;*/
    padding-left: 0.9375rem;
}

#newbie-list ol {
    list-style-position: inside;
    padding-left: 0;
    margin: 0;
    gap: 1.5rem;
}

#newbie-list ol > li{
    /*padding: 10px;*/
    padding: 0.625rem;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    width:100%;
    text-align: left;
    box-sizing: border-box;
}

#newbie-list ol li:hover {
    background-color: white;
    cursor: pointer;
}

#newbie-list ol li a {
    text-decoration: none;
    color: #0073e6;
}

#newbie-list ol li a:hover {
    text-decoration: underline;
}


@media (min-width: 70rem){
    #newbie-list ol{
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
}