.content {
    display: grid;
    gap: 2rem;
    padding: 1rem;
}

.content img {
    max-width: 30rem;
}

.content article ul {
    padding-bottom: 2rem;
    list-style: none;
    padding-left: 0;
}

.content article ul > li {
    margin: 0 0 0.5rem 1rem;
    padding-left: 1.5rem;
    position: sticky;
}

.content article ul > li::before {
    content: "➤";
    position: absolute;
    left: 0;
    margin-right: 0.5rem;
    color: black;
}

.content article h3 {
    font-size: 1.3rem;
}

.content article ol {
    padding-bottom: 2rem;
    list-style: upper-roman;
    padding-left: 2.3rem;
}

.content article ol > li {
    margin-bottom: 0.5rem;
}

#employee_description {
    padding: 0 0 1rem 0;
    max-width: 60vw;
    font-size: 1.1em;
}

.accounts-link {
    margin: 1rem 0;
    padding: 0.625rem;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
}

article {
    padding: 0 3rem;
}

#description-link{
    padding-left: 2rem;
}

@media (max-width: 799px) {

    img {
        grid-area: img;
    }

    #roles-contacts {
        grid-area: roles;
    }

    #description-link {
        grid-area: description;
    }

    .content {
        grid-template-areas:
            "img"
            "roles"
            "description";

    }

}

@media (min-width: 800px) {
    img {
        grid-area: img;
    }

    #roles-contacts {
        grid-area: roles;
    }

    #description-link {
        grid-area: description;
    }
    .content {
        grid-template-areas:
            "img roles"
            "description description";
        grid-template-columns: 1fr 4fr;
        gap: 0;
    }
}